@import "https://fonts.googleapis.com/css?family=Open+SansRoboto:400,700&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "google Sans", sans-serif;
	background: #fff;
	color: #202124;
	line-height: 1.5;
	font-size: 0.875rem;
	overflow-x: hidden;
	overflow-y: auto;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1 {
	letter-spacing: 0.25rem;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: "Roboto", sans-serif;
	font-size: 3rem;
}
h2 {
	letter-spacing: 0.25rem;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
}
h3 {
	letter-spacing: 0.25rem;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: "Roboto", sans-serif;
	font-size: 1.25rem;
}
h4 {
	letter-spacing: 0.25rem;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: #000;
}
.btn {
	text-transform: uppercase;
	background: transparent;
	padding: 0.375rem 0.75rem;
	letter-spacing: 0.25rem;
	display: inline-block;
	transition: all 0.3s linear;
	font-size: 0.875rem;
	cursor: pointer;
	&:hover {
		color: #fff;
		background: #222;
	}
}
.section {
	padding: 5rem 0;
}
.section-center {
	width: 95vw;
	margin: 0 auto;
	max-width: 50rem;
	margin-top: 2rem;
	transition: all 0.3s linear;
	padding: 2rem;
	margin: auto;
}
main {
	min-height: 100vh;
	display: grid;
	place-items: center;
}
.alert {
	margin-bottom: 1rem;
	height: 1.25rem;
	display: grid;
	align-items: center;
	text-align: center;
	font-size: 0.9rem;
	border-radius: 0.25rem;
	letter-spacing: 0.25rem;
	text-transform: capitalize;
}
.alert-danger {
	color: #b99fa4;
	background: #d9cbce;
	box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #ffffff;
}
.alert-success {
	color: #fff;
	background: #24cfaa;
	box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #ffffff;
}
.crud-form {
	h3 {
		color: #063251;
		margin-bottom: 1.5rem;
		text-align: center;
	}
}
.form-control {
	display: flex;
	justify-content: center;
}
#crud {
	padding: 0.25rem;
	padding-left: 1rem;
	background: none;
	outline: none;
	border: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #555;
	font-size: 1.5rem;
	flex: 1 0 auto;
	border-radius: 8px;
	border: 0.5px solid #d3d3d3;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
	resize: none;
	&::placeholder {
		font-family: "Open Sans", sans-serif;
		color: #555;
		padding-top: 0.4rem;
		font-size: 1.4rem;
	}
}
.submit-btn {
	background: #f1f5f8;
	flex: 0 0 5rem;
	display: grid;
	background: none;
	outline: none;
	border: none;
	align-items: center;
	padding: 0.25rem;
	text-transform: capitalize;
	letter-spacing: 2px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	transition: all 0.3s linear;
	font-size: 0.85rem;
	border-radius: 8px;
	border: 0.5px solid #d3d3d3;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
	&:hover {
		background: #cacfda;
	}
}
.crud-container {
	margin-top: 2rem;
	transition: all 0.3s linear;
	visibility: hidden;
}
.show-container {
	visibility: visible;
}
.crud-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	transition: all 0.3s linear;
	padding: 0.25rem 1rem;
	border-radius: 0.5rem;
	text-transform: capitalize;
	display: flex;
	justify-content: space-between;
	margin: 16px;
	width: 250px;
	background-color: #fff;
	border-color: #e0e0e0;
	border: 1px solid #d3d3d3;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	border-radius: 8px;
	transition-duration: 0.218s;
	transition-property: background, border, opacity, box-shadow, transform;
	transition-timing-function: ease-in;
	position: relative;
	&:hover {
		box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
		opacity: 1;
	}
}
.title {
	margin-bottom: 0;
	color: #102a42;
	letter-spacing: 2px;
	transition: all 0.3s linear;
	list-style: none;
	word-wrap: break-word;
	border: none;
	overflow: auto;
	outline: none;
	resize: none;
	background: none;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5rem;
	min-height: 30px;
	letter-spacing: 0.01428571em;
	padding: 4px 16px 12px 16px;
	box-sizing: border-box;
	font-variant-ligatures: none;
	outline: none;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.edit-btn {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	font-size: 1.2rem;
	margin: 0.3rem 0.4rem;
	transition: all 0.3s linear;
	color: #202124;
	border: none;
	background: none;
	outline: none;
	&:hover {
		transform: scale(1.3);
		transition-property: transform;
	}
}
.delete-btn {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	font-size: 1.2rem;
	margin: 0.3rem 0.4rem;
	transition: all 0.3s linear;
	color: #202124;
	border: none;
	background: none;
	outline: none;
	&:hover {
		color: #000;
		transform: scale(1.3);
	}
}
.complete-btn {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	font-size: 1.2rem;
	margin: 0.3rem 0.4rem;
	transition: all 0.3s linear;
	color: #202124;
	color: 000;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	&:hover {
		transform: scale(1.3);
	}
}
.restore-btn {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	font-size: 1.2rem;
	margin: 0.3rem 0.4rem;
	transition: all 0.3s linear;
	color: #202124;
	&:hover {
		color: #000;
		transform: scale(1.3);
	}
}
.btn-container {
	&:hover {
		opacity: 1;
	}
	display: flex;
	flex-direction: row-reverse;
	margin-top: 1rem;
	opacity: 0;
	transition: opacity 1s ease-in-out, background-color 0.218s ease-in-out,;
}
.clear-btn {
	text-transform: capitalize;
	width: 10rem;
	height: 1.5rem;
	display: grid;
	align-items: center;
	background: transparent;
	border-color: transparent;
	color: #000;
	margin: 0 auto;
	font-size: 0.85rem;
	letter-spacing: 0.25rem;
	cursor: pointer;
	transition: all 0.3s linear;
	margin-top: 1.25rem;
	border-radius: 10px;
	background: none;
	outline: none;
	border: 1px solid #555;
	&:hover {
		color: #555;
		border-radius: 10px;
		transform: scale(1.1);
	}
}
.completed {
	text-decoration: line-through;
	opacity: 0.3;
	color: black;
}
select {
	cursor: pointer;
	padding: 0.7rem;
	padding-left: 1rem;
	background: none;
	outline: none;
	color: #555;
	font-size: 1rem;
	flex: 1 0 auto;
	font-size: 0.85rem;
	border-radius: 8px;
	border: 0.5px solid #d3d3d3;
	margin: auto;
}
.select {
	position: relative;
	overflow: hidden;
}
.container {
	display: flex;
	justify-content: flex-end;
}
#notes {
	display: flex;
	flex-wrap: wrap;
	max-width: 90vw;
	margin: 0 auto;
	justify-content: center;
}
.note {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 16px;
	width: 250px;
	background-color: #fff;
	border-color: #e0e0e0;
	border: 1px solid #d3d3d3;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	border-radius: 8px;
	transition-duration: 0.218s;
	transition-property: background, border, opacity, box-shadow, transform;
	transition-timing-function: ease-in;
	&:hover {
		box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
	}
}
.note-title {
	padding-top: 12px;
	letter-spacing: 0.00625em;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	min-height: 38px;
	padding: 16px 16px 0 16px;
	transition: background-color 0.218s ease-in;
	box-sizing: border-box;
	font-variant-ligatures: none;
	outline: none;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.note-text {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5rem;
	min-height: 30px;
	letter-spacing: 0.01428571em;
	padding: 4px 16px 12px 16px;
	box-sizing: border-box;
	font-variant-ligatures: none;
	outline: none;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.open-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal {
	position: fixed;
	left: 0;
	z-index: 200;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(229, 229, 229, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
	box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 24rem;
	border-radius: 0.5rem;
}
.modal-close-button {
	float: right;
	margin: 0.2em 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.87);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	letter-spacing: 0.01785714em;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25rem;
	height: 36px;
	padding: 8px 24px;
	border-radius: 4px;
	border-color: transparent !important;
	background-color: rgb(251, 251, 251);
	cursor: pointer;
	&:hover {
		background-color: rgba(95, 99, 104, 0.039);
	}
}
.modal-text {
	width: calc(100% - 10px);
	min-height: 43px;
	margin: 0 5px;
	padding: 10px 10px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;
	letter-spacing: 0.00625em;
	border: 0;
	overflow: hidden;
	position: relative;
	color: #202124;
	font-size: 14px;
	line-height: 19px;
	min-height: 46px;
	padding: 4px 16px 12px 0px;
	resize: none;
}
.tooltip {
	position: flex;
	display: inline-flex;
	border-bottom: 1px dotted black;
	.tooltiptext {
		visibility: hidden;
		width: 45px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 3px;
		padding: 3px 0;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -23.5px;
		opacity: 0;
		transition: opacity 0.3s;
		font-size: 0.6rem;
	}
	&:hover {
		.tooltiptext {
			visibility: visible;
			opacity: 1;
			overflow-x: auto;
		}
	}
}
#form {
	position: relative;
	border: none;
	margin: 1px;
	border-radius: 8px;
	transition-duration: 0.218s;
	transition-property: background, border, opacity, box-shadow, transform;
	transition-timing-function: ease-in;
	&:focus {
		outline: none;
	}
}
input {
	&:focus {
		outline: none;
	}
}
#form-buttons {
	display: none;
	text-align: right;
}
nav {
	background: #fff;
	padding: 10px 40px 10px 70px;
	border: 1px solid #d3d3d3;
	border-right: none;
	border-left: none;
	ul {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		div.items {
			padding: 0 25px;
			display: inline-flex;
			justify-content: flex-start;
			a {
				text-decoration: none;
				font-size: 18px;
				padding: 0 12px;
				color: rgba(0, 0, 0, 0.7);
				&:hover {
					background: #e6e6e6;
					border-radius: 5px;
				}
			}
		}
		.search-icon {
			height: 40px;
			width: 240px;
			display: flex;
			background: #f2f2f2;
			border-radius: 5px;
			margin-left: 1rem;
			input {
				height: 100%;
				width: 200px;
				border: none;
				background: #f2f2f2;
				border-radius: 5px;
				padding: 0 10px;
				color: #000;
				font-size: 16px;
				border-radius: 5px 0 0 5px;
			}
			.icon {
				height: 100%;
				width: 40px;
				line-height: 40px;
				border-radius: 5px 0px 0px 5px;
				cursor: pointer;
				padding: 1px;
				&:hover {
					background: #E6E6E6;
					border-radius: 50%;
				}
				span {
					color: #222222;
					font-size: 18px;
					padding-left: 7px;
				}
			}
		}
	}
}
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	padding: 0 40px;
	z-index: -2;
	.text {
		font-size: 40px;
		font-weight: 800;
		padding: 5px 0;
		color: #202020;
	}
	.p {
		font-size: 28px;
		font-weight: 600;
		color: #202020;
	}
}
#placeholder {
	margin-top: 10vh !important;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#placeholder-logo {
	margin: 20px;
	opacity: 0.1;
	font-size: 5rem;
}
#placeholder-text {
	color: #80868b;
	cursor: default;
	font-size: 1.375rem;
	font-weight: 400;
	line-height: 1.75rem;
}
.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	transition: width 200ms ease;
	border-right: 1px solid #d3d3d3;
	&:hover {
		width: 7rem;
		.link-text {
			display: block;
		}
	}
}
.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	color: rgba(0, 0, 0, 0.6);
	&:hover {
		filter: grayscale(0%) opacity(1);
		color: rgba(0, 0, 0, 0.8);
	}
}
.link-text {
	display: none;
	margin-left: 0.5rem;
	i {
		min-width: 2rem;
		margin: 0 1.5rem;
	}
}
.sidebar-icon {
	font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
		line-height: 1;
	}
	h2 {
		font-size: 2.5rem;
		line-height: 1;
	}
	h3 {
		font-size: 1.75rem;
		line-height: 1;
	}
	h4 {
		font-size: 1rem;
		line-height: 1;
	}
	body {
		font-size: 1rem;
	}
}
@media screen and (min-width: 992px) {
	.section-center {
		width: 80vw;
		margin: auto;
	}
}
@media screen and (max-width: 1052px) {
	nav {
		padding: 10px 40px 10px 0px;
		ul {
			div.items {
				flex: 4;
			}
		}
	}
}
@media screen and (max-width: 800px) {
	nav {
		ul {
			li.btn {
				display: block;
			}
			div.items {
				z-index: -1;
				position: fixed;
				top: -220px;
				right: 0;
				width: 100%;
				background: #222222;
				display: inline-block;
				transition: top .4s;
				li {
					text-align: center;
					line-height: 30px;
					margin: 30px 0;
					a {
						font-size: 19px;
					}
				}
			}
			div.items.show {
				top: 60px;
			}
		}
		z-index: 1;
		padding: 9px 40px 9px 0;
	}
}
@media screen and (max-width: 405px) {
	nav {
		ul {
			flex-wrap: nowrap;
			li.search {
				width: 50vmin;
			}
			li {
				input {
					width: 40vmin;
				}
				.search-icon {
					width: 10vmin;
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
		border-top: 1px solid #d3d3d3;
	}
	.navbar-nav {
		flex-direction: row;
	}
	.nav-link {
		justify-content: center;
	}
	.link-text {
		display: block;
	}
}
